
/****header/nav******/

.header{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    line-height: 7rem;
    text-align: center;
    background: #0ab4ba;
    font-size: 30px;
}

.header a{
    
    color: black;
    font-size: 1.4rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 550;
    text-decoration: none;
}

/**** article/main ***/


body{
    padding: 0px;
    margin: 0px;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.2rem;
    background-color: #F5F7ED; 
}

h1{
    margin-left: 2rem;
    margin-right: 2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 300;
    font-size: 2rem;
}

h2{
    margin-left: 2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.8rem;    
}

.ingress{
    margin: 0px;
    padding:0px;
    font-weight: 400;
    color:darkslategray;
    font-size: 1.5rem;
}

/**Body-Grid**/


.grid-container{
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 40px;
}

.title1 {
    grid-column: 1 / -1;
}
    
.title2 {
    grid-column: 1 / -1;
}

.ingress{
    grid-column: 1/3;
    margin-left: 2rem;
}

.image-left{
    margin-left: 2rem;
    grid-column: 1/2;
    width: 98%;
    background-image: url("../media/pilestredet.jpg");
    background-size: cover;
    height: 35vw;
    
}

.text-left{
    margin-left: 2rem;
    display: grid;
    grid-column: 1/2;
    grid-row: 6;
    
}

.image-right{
    margin-right: 2rem;
    grid-column: 2/3;
    width: 95%;
    background-image: url("../media/kjeller_campus.jpeg");
    background-size: cover;
    height: 35vw;
}

.photo-ref-left{
    display: grid;
    grid-column: 1/2;
    grid-row: 5;
    font-style: italic;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 2rem;
}

.photo-ref-right{
    display: grid;
    grid-column: 2/3;
    grid-row: 5;
    font-style: italic;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}

.text-right{
    margin-right: 2rem;
    display: grid;
    grid-column: 2/3;
    grid-row: 6;
}


/**Grid for mobile viwer max 400px**/

/*footer*/

footer{
    display: grid;
    grid-template-columns: auto auto auto;
    background: #0ab4ba;
    font-size: small;
    
}

.footer-container{
    grid-row: 1;
    padding-top: 1rem;
    background: #0ab4ba;
    text-align: left
}

.footer-container li{
    list-style-type: none;
    line-height: 1.6;
    
}

@media only screen and (max-width: 400px) {

    [class*="header"] {
        grid-template-columns: auto auto auto;
      }

    [class*="title1"] {
        grid-column: 1/-1; 
      }

    [class*="title2"] {
        grid-column: 1/-1;
      }

    [class*="ingress"] {
        grid-column: 1/-1;
        grid-row: 3;
      }

    [class*="image-left"] {
        grid-column: 1/3;
        grid-row: 4;
        height: 50vw;
      }

    [class*="text-left"] {
        grid-column: 1/3;
        grid-row: 6;
      }   

      [class*="photo-ref-left"] {
        margin-left: 2rem;
        grid-column: 1/3;
        grid-row: 5;
      }  

      [class*="image-right"] {
        margin-left: 2rem;
        grid-column: 1/3;
        grid-row: 7;
        height: 50vw;
      }  

    [class*="text-right"] {
        margin-left: 2rem;
        grid-column: 1/3;
        grid-row: 9;
      }  

      [class*="photo-ref-right"] {
        margin-left: 2rem;
        grid-column: 1/3;
        grid-row: 8;
      }  

      .footer-container ul {
        padding-inline-start: 20px;
    }
    .header {
        line-height: 3.5rem;
    }
     
  }


/*-------- CAMPUS PAGE --------*/

.campus-body{
    background-color: #dcf0f8;
    
}

.main-campus{
    background-color: #f0f7f4;
    box-sizing: border-box;
    margin-left: 10vw;
    margin-right: 10vw;
    margin-bottom: 3vh;

    @media (max-width: 1300px){
        margin-left: 5vw;
        margin-right: 5vw;
    }
}

.campus-h1{
    padding-left: 1.5rem; 
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.campus-h2{
    margin-left:0;
}

/*  GRID  */

.campus-grid-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    @media (max-width: 850px){
        grid-template-rows: repeat(auto-fit, minmax(height of the items , 1fr));
        grid-template-columns: 1fr;
    }
}    

.campus-grid-container > div{
    padding-right: 2rem;
    padding-left: 2rem;
    font-size: 16px;
    line-height: 24px;
    row-gap: 0;
}

.campus-grid-item-one{
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    @media (max-width: 850px){
        grid-column: 1 / 3;
        grid-row: 1 / 2;
    }
}

.campus-grid-item-two{
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    padding-top: 2rem;
    width: fit-content;
    height: 40vh;
    @media (max-width: 850px){
        grid-column: 1 / 3;
        grid-row: 2 / 3;
        width: fit-content;
    }
}

.campus-grid-item-three{
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    @media (max-width: 850px){
        grid-column: 1 / 3;
        grid-row: 3 / 4;
    }
}
.campus-grid-item-four{
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    padding-top: 2rem;
    width: 40vw;
    height: 40vh;
    @media (max-width: 850px){
        grid-column: 1 / 3;
        grid-row: 4 / 5;
        height: fit-content;
        width: fit-content;
    }
}

.campus-grid-item-five{
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    @media (max-width: 850px){
        grid-column: 1 / 3;
        grid-row: 5 / 6;
    }
}

.campus-grid-item-six{
    grid-column: 2/3;
    grid-row: 3 / 4;
    padding-top: 2rem;
    width: 40vw;
    height: 40vh;
    @media (max-width: 850px){
        grid-column: 1 / 3;
        grid-row: 6 / 7;
        width: fit-content;
        height: fit-content;
        padding-bottom: 2rem;
    }
}

.campus-photos{
    object-fit: cover;
    border-radius: 5px;
    width: 100%;
    height: 80%;
}

.campus-photo-credit{
    padding-left: 2vw;
    font-size: 0.8rem;
}

/*-------- Canteens PAGE --------*/

.canteens-body{
    background-color: #ADA7A7;
}

.main-canteens{
    background-color: #F5F7ED;
    margin-left: 10vw;
    margin-right: 10vw;
    margin-top: 4vh;
    margin-bottom: 10vh;
}

.canteens-h1{
    padding-left: 1.5rem; 
}


/*  GRID  */

.canteens-grid-container{
    padding-left: 2rem;
    padding-right: 2rem;
    display: grid;
    grid-template-columns: 40vw 40vw;
    grid-template-rows: 40vh 40vh 40vh;
}

.canteens-grid-container > div{
    padding-right: 5rem;
    font-size: 16px;
    line-height: 1.5em;
}

.canteens-grid-item-one{
}

.canteens-grid-item-two{
    grid-column: 2/2;
    grid-row: 1/3;
}

.canteens-grid-item-three{
}
.canteens-grid-item-four{
    grid-column: 2/2;
    grid-row: 2/3;
}

.canteens-photos{
    width: 30vw; 
    height: 35vh;
    object-fit: cover;
    padding-left: 4vw;
    padding-right: 4vw;
}

#canteens-photo-credit{
    padding-left: 5vw;
    font-size: 0.8rem;
}

.canteens-grid-item-five{
    
}
.campus-grid-item-six{
    
}

/*-------- Accessibility --------*/


.accessibility-main{
    margin-left: 25vw;
    margin-right: 25vw;   
}